<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oneshot.model.dao.MenuDao">
    <resultMap id="Menu" type="oneshot.model.dto.Menu">
        <result column="menu_id" property="menuId"/>
        <result column="brand_id" property="brandId"/>
        <result column="menu_name" property="menuName"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <parameterMap id="Menu" type="oneshot.model.dto.Menu"/>

    <insert id="insert" parameterMap="Menu">
        INSERT INTO menu
        (brand_id, menu_name, img, type)
        VALUES (#{brandId}, #{menuName}, #{img}, #{type})
    </insert>

    <select id="selectByBrandId" parameterType="int" resultMap="Menu">
        SELECT *, d.price FROM menu m
        LEFT JOIN menu_detail d
        ON m.menu_id = d.menu_id 
        WHERE m.brand_id = #{BrandId} AND d.size = "M" AND d.temperature = "ICE"
    </select>
    
    <select id="selectMenuType" parameterType="int" resultType="String">
        SELECT DISTINCT type FROM menu
        WHERE brand_id = #{BrandId}
    </select>

    <select id="selectOne" resultMap="Menu">
        SELECT * FROM menu
        WHERE menu_id = #{menuId}
    </select>

    <update id="update" parameterMap="Menu">
        UPDATE menu
        SET
        menu_name = #{menuName},
        img = #{img},
        type = #{type}
        WHERE menu_id = #{menuId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM menu
        WHERE menu_id = #{menuId}
    </delete>
</mapper>