<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oneshot.model.dao.OrderDetailDao">
    <resultMap id="OrderDetail" type="OrderDetail">
        <result column="order_detail_id" property="orderDetailId"/>
        <result column="order_id" property="orderId"/>
        <result column="menu_id" property="menuId"/>
        <result column="order_user" property="orderUser"/>
        <result column="amount" property="amount"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <insert id="createOrderDetail" parameterType="OrderDetail">
        INSERT INTO order_detail
        (order_id, menu_id, order_user, amount)
        VALUES (#{orderId}, #{menuId}, #{orderUser}, #{amount})
    </insert>

    <select id="selectByOrderId" parameterType="int" resultMap="OrderDetail">
        SELECT *
        FROM order_detail
        WHERE order_id = #{orderId}
    </select>

</mapper>