<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oneshot.model.dao.UserDao">

    <resultMap id="User" type="oneshot.model.dto.User">
        <result column="user_id" property="userId"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="admin" property="admin"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <parameterMap id="User" type="oneshot.model.dto.User"></parameterMap>

    <select id="selectByEmail" parameterType="String" resultMap="User">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO user
        (email, password, nickname)
        VALUES (#{email}, #{password}, #{nickname})
    </insert>

    <select id="selectByUserId" parameterType="int" resultMap="User">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>
    
    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM user
        WHERE email = #{email}
    </select>

    <update id="update" parameterMap="User">
        UPDATE user
        SET
        password = #{password},
        nickname = #{nickname},
        admin = #{admin}
        WHERE user_id = #{userId}
    </update>

    <delete id="delete" parameterType="int">
        delete from user
        WHERE user_id = #{userId}
    </delete>
</mapper>